
@{
    ViewData["Title"] = "Books";
}

<div>
    <h1>How Can We Help You</h1>
    <ul>
        <li><a asp-area="" asp-controller="Member" asp-action="ViewAll">View Members</a></li>
        <li><a asp-area="" asp-controller="Member" asp-action="">Register A New Member</a></li>
    </ul>
</div>