
@{
    ViewData["Title"] = "Books";
}

<div>
    <h1>How Can We Help You</h1>
    <ul>
        <li><a asp-area="" asp-controller="Book" asp-action="ViewAll">View Books</a></li>
        <li><a asp-area="" asp-controller="Book" asp-action="Register">Register A New Book</a></li>

    </ul>
</div>